@use "/src/styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.info {
  color: $text-light;
}

.btn-back {
  position: absolute;
  width: 4rem;
  height: 4rem;
}
