$primary-dark: #386dac;
$primary-darker: #294d7a;
$primary: #4c8fe2;
$primary-light: #a8c6ea;

$accent: #ff642f;
$accent-light: #f89344;

$positive: rgb(0, 214, 143);
$negative: rgb(214, 0, 36);

$gray-dark: #333;
$gray: #888;
$gray-light: #ddd;

$text-light: #ffffff;
$text-dark: #000000;
