@use "../../../styles/colors" as *;
@use "../../../styles/breakpoint" as *;

$page-padding: 25px;

.header {
  position: relative;
  background-color: $primary-dark;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;

  @include mobile {
    padding-block: 0;
  }
}
