@use "/src/styles/colors" as *;

@mixin eq-size {
  flex-grow: 1;
  flex-basis: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-light;
  border-radius: 1rem;
  align-items: center;
  width: max-content;
  margin-inline: auto;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 2rem;
}

.title {
  font-size: 4rem;
}

.row {
  display: flex;
  font-size: 1.6rem;
  width: 100%;
  justify-content: space-between;
}

.label {
  font-weight: bold;
  @include eq-size;
}

.value {
  @include eq-size;
}

.btn {
  @include eq-size;
  margin-inline: 1rem;
}

.btn-row {
  margin-top: 2rem;
}
